  <!-- Site footer -->
  <div class="footer">
    <div class="iconos-footer">
        <a href="https://www.instagram.com/" class="iconos-redes"></a>
        <a href="https://www.facebook.com/" class="iconos-redes"></a>
        <a href="https://twitter.com/home" class="iconos-redes"></a>
        <a href="https://es.linkedin.com/" class="iconos-redes"></a>
    </div>
    <div class="menu-legal-footer">
        <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal" class="legal-menu">Aviso legal</a>
        <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal" class="legal-menu">Privacidad</a>
        <a href="https://support.wix.com/es/article/crear-una-pol%C3%ADtica-de-t%C3%A9rminos-y-condiciones" class="legal-menu">Condiciones</a>
        <a href="https://www.prisa.com/es/info/politica-de-cookies-publi" class="legal-menu">Cookies</a>
    </div>
    <p id="copyright">&copy;2022. Todos los derechos reservados.</p>
</div>