/* Estilos para el div que contiene todo el footer */
.footer {
  width: 100%;
  position: absolute;
  background-color: #1465BB;
  /* Para hacer el contenedor flex y situar los elementos centrados */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Para tratar los elementos uno encima del otro */
  flex-direction: column;
  font-family: sans-serif;
}

/* Estilos para los div que contienen los iconos y los enlaces legales */
.iconos-footer, .menu-legal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Para que se posicionen uno encima del otro en caso de que no quepan */
  flex-wrap: wrap;
  margin: 16px;
}

/* Estilos para los los enlaces de las políticas */
.legal-menu {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 0px 16px 0px 16px;
  opacity: 0.6;
}

  .legal-menu:hover {
      opacity: 1;
  }

/* Doy estilo a los enlaces (a) que contienen los iconos de las redes sociales de la empresa */
.iconos-redes {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url("../../assets/instagram.png");
  /* Tratando la imagen de fondo que coloco */
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
  margin-right: 16px;
  transition: .5s;
}

  .iconos-redes:nth-of-type(2){
      background-image: url("../../assets/facebook.png");
      background-size: 55%;
  }

  .iconos-redes:nth-of-type(3){
      background-image: url("../../assets/twitter.png");
      background-size: 55%;
  }

  .iconos-redes:nth-of-type(4){
      background-image: url("../../assets/linkedin.png");
      background-size: 55%;
  }

  .iconos-redes:hover{
      opacity: 0.6;
      transform: scale(1.3);
  }

/* Doy un pequeño estilo al mensaje de copyright */
#copyright {
  color: white;
  opacity: 0.3;
}