/* Pequeños estilos para el título y poco texto que aparece en esta página */
.contenido-dades {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 40px;
}

/* Estilos para los títulos y el texto que se encuentran dentro de la clase .contenido */
.contenido-dades h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
}

.contenido-dades p {
    font-size: 15px;
    color: white;
}

/* Estilos generales para la tabla */

table {
    margin: auto;
    margin-top: 10px;
    width: 70%;
}

ng-container {
    border-radius: 10px;
}

.buscador {
    left: 15%;
    color: white;
}

.buscador input::placeholder {
    color: white;
}

.buscador mat-label {
    color: rgb(216, 216, 216);
}

::ng-deep.mat-form-field-underline {
    background-color: rgb(168, 168, 168) !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white!important;
}

tr.example-detail-row {
    height: 0;
}

tr.example-pais-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-pais-row:not(.example-expanded-row):active {
    background: #efefef;
}


/* ---- Posicionament files i columnes  ---- */

:host ::ng-deep .mat-sort-header-container td{
    display: flex;
    justify-content: center;
 }

/* ---------------------------------- */

.example-pais-row td {
    border-bottom-width: 0;
}

.example-pais-detail {
    overflow: hidden;
    display: flex;
    height: 170px;
}

.example-pais-diagram {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-pais-diagram img {
    width: 200px;
    height: 110px;
    object-fit: cover;
    border-radius: 7px;
}

.example-pais-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-pais-description {
    padding: 20px 40px 0px 140px;
}

.example-pais-description-attribution {
    opacity: 0.5;
}


mat-paginator {
    width: 70%;
    margin: auto;
}

mat-option>* {
    display: none;
}

.mat-option-text::after {
    content: 'Tot';
}

.bg {
    background-image: linear-gradient(rgba(4, 9, 30, 0.45), rgba(4, 9, 30, 0.45)), url('../../assets/africa.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: relative;
    height: auto;
}

.databank {
    text-align: center;
    color: white;
    opacity: 0.6;
}

.databank > a {
    color: white;

}
