table {
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.celdaPercentatgePobresa{
  padding-right: 7%;
  text-align: center;
}

.celdaMenys550{
  padding-right: 6%;
  text-align: center;
}

.celdaMenys10{
  padding-right: 5.5%;
  text-align: center;
}

.celdaAny{
  padding-left: 0.5%;
}

.celdaPais{
  padding-left: 0.5%;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  height: 170px;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-diagram img{
  width: 200px;
  height: 110px; 
  object-fit: cover;
  border-radius: 7px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 20px 40px 0px 140px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.element1 {
  padding-right: -50px;
}


mat-paginator {
  margin-right: 20%;
}

mat-option:last-child::before{
  content:'All' !important;
}