/* Estilos del encabezado de la página */
.header {
    background-color: #1465BB;
    height: auto;
    display: flex;
}

  /* Estilos de los botones del menú */
  button {
    font-size: 20px;
    color: white;
  }

    /* Hover para los botones del menú de la página web */
    button:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

  /* Material Design estilos por defecto */
  .example-button-row {
    display: table-cell;
    width: 500px;
  }
  
  .example-button-row .mat-button-base {
    margin: 10px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }