<div class="header" [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
    <div class="botonesMenu">
        <section>
            <div class="example-button-row">
                <button mat-icon-button color="white" routerLink="" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-button routerLink="" routerLinkActive="active">Inici</button>
                <button mat-button routerLink="/dades" routerLinkActive="active">Dades</button>
                <button mat-button routerLink="/grafic" routerLinkActive="active">Gràfic</button>
            </div>
        </section>
    </div>
    <div class="logo">
        <img src="/assets/unicef.png" alt="image" />
    </div>
</div>
