<div class="header" [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
    <div class="botonesMenu">
        <section>
            <div class="example-button-row">
                <button mat-icon-button color="white" routerLink="" routerLinkActive="active" style="margin-left: 15px">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-button routerLink="" routerLinkActive="active" [@animacioMenu]="state" style="margin-left: -40px">Inici</button>
                <button mat-button routerLink="/dades" routerLinkActive="active" [@animacioMenu]="state" style="margin-left: -20px">Dades</button>
                <button mat-button routerLink="/grafic" routerLinkActive="active" [@animacioMenu]="state" style="margin-left: -2px">Gràfic</button>
                <button mat-button routerLink="/formulari" routerLinkActive="active" [@animacioMenu]="state" style="margin-left: -26px">Contacte</button>
            </div>
        </section>
    </div>
</div>
