<div class="bg">
  <br><br><br><br><br><br><br><br>
  <div class="form">
    <div class="titol">Benvingut</div>
    <div class="subtitol">Posa't en contacte amb nosaltres</div>
    <div class="input-div nom">
      <input id="firstname" class="input" type="text" placeholder=" " />
      <div class="lletrer mini"></div>
      <label for="firstname" class="placeholder">Nom</label>
    </div>
    <div class="input-div mail">
      <input id="email" class="input" type="text" placeholder=" " />
      <div class="lletrer mini"></div>
      <label for="email" class="placeholder">Email</label>
    </div>
    <div class="input-div mail">
      <textarea id="missatge" class="input" name="subject" placeholder=" "></textarea>
      <div class="lletrer"></div>
      <label for="missatge" class="placeholder">Missatge</label>
    </div>
    <button type="text" class="envia">Envia</button>
  </div>
  <br><br><br><br><br><br><br><br>
</div>