<div class="banner-principal">
    <div class="texto-banner">
        <h1>Pobresa mundial</h1>
        <p>
            "No veuen en la pobresa més que pobresa, sense veure-hi el vessant revolucionari, <br>subversiu, que enderrocarà la vella societat." - Karl Marx
        </p>
    </div>
</div>

<div class="contenido">
    <h1>Descubreix la realitat</h1>
    <p>A l'actualitat, moltes persones no coneixen la realitat actual de molts països. T'ajudem a descobrir la realitat.</p>
    <div class="flex-index">
        <div class="flex-images">
            <img src="../../assets/dades-image.png">
            <a routerLink="/dades" routerLinkActive="active">
                <div class="overlay">
                    <h2>DADES</h2>
                </div>
            </a>
        </div>
        <div class="flex-images">
            <img src="../../assets/grafic-image.png">
            <a routerLink="/grafic" routerLinkActive="active">
                <div class="overlay">
                    <h2>GRÀFIC</h2>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="index-dades">
    <h1>DESCUBREIX LES <br />DADES REALS DEL MÓN</h1>
    <a routerLink="/dades" routerLinkActive="active">Descubreix més</a>
</div>
