<div class="banner-principal">
    <div class="texto-banner">
        <h1>POBRESA</h1>
        <p>
            "No veuen en la pobresa més que pobresa, sense veure-hi el vessant revolucionari, <br>subversiu, que enderrocarà la vella societat." - Karl Marx
        </p>
    </div>
</div>

<div class="contenido">
    <h1>Lorem Ipsum</h1>
    <p>Lorem Ipsum</p>
    
</div>
<div class="flex-index">
    <div class="flex-images">
        <img src="../../assets/dades-image.png">
    </div>
    <div class="flex-images">
        <img src="../../assets/dades-image.png">
    </div>
    
</div>

<div class="footer">
    
</div>
