/* Div que contine la imagen principal de la página index */
.banner-principal{
    min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url("../../assets/banner-principal.png");
        background-position: center;
        /* Para escalar la imagen al mayor tamaño posible sin estirarla */
        background-size: cover;
        position: relative;
        font-family: sans-serif;
  }

    /* Estilos para el título y la pequeña frase de la página principal (índex) */
    .texto-banner {
        width: 100%;
        color: white;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
    }

    .texto-banner > h1 {
        font-size: 70px;
        margin-bottom: 35px;
    }

    .texto-banner > p {
        font-size: 16px;
    }

/* Estilo para el div para centrar los títulos y la info de la web */
.contenido {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 70px; 
}

    /* Estilos para los títulos y el texto que se encuentran dentro de la clase .contenido */
    .contenido h1 {
        font-size: 32px;
        margin-bottom: 20px;
        color: #1465BB;
    }

    .contenido p {
        font-size: 15px;
        color: gray;
    }

/* Div para hacer flex las imágenes que encontramos en la página principal */
.flex-index {
    margin-top: 60px;
    display: flex;
    /* Para distribuir la imágenes de forma de forma uniforme */
    justify-content: space-between;
    flex-wrap: wrap;
}

    /* Div para ajustar el tamaño donde van las imágenes de la página principal */
    .imagenes-div-index .imagenes-index {
        width: 32%;
        height: 300px;
        margin-bottom: 40px;
        /* Lo hago relativo para después posicionar encima el overlay */
        position: relative;
    }


