<div class="banner-principal">
    <div class="texto-banner">
        <h1>POBRESA</h1>
        <p>
            "No veuen en la pobresa més que pobresa, sense veure-hi el vessant revolucionari, <br>subversiu, que enderrocarà la vella societat." - Karl Marx
        </p>
    </div>
</div>

<div class="contenido">
    <h1>Lorem Ipsum</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    <div class="flex-index">
        <div class="flex-images">
            <img src="../../assets/dades-image.png">
            <a routerLink="/dades" routerLinkActive="active">
                <div class="overlay">
                    <h2>DADES</h2>
                </div>
            </a>
        </div>
        <div class="flex-images">
            <img src="../../assets/grafic-image.png">
            <a routerLink="/grafic" routerLinkActive="active">
                <div class="overlay">
                    <h2>GRÀFIC</h2>
                </div>
            </a>
        </div>
    </div>
</div>
<app-footer><app-footer>
