<div class="fondo">
    <div class="contenido">
        <h1>Gràfics comparatius</h1>
        <p>En aquesta pàgina es mostren diversos gràfics comparatius amb les dades dels diferents països i continents.</p>
        <div class="grafic">
            <h3>Comparació entre continents</h3>
            <div>
                <div>
                    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                        [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" >
                    </canvas>
                </div>
            </div>
        </div>
        <br>
        <p>En aquest primer gràfic hem comparat les dades de tots els continents del món. A continuació, mostrem la comparació entre els països menys pobres d'Europa i Àfrica.</p><br><br>

        <div class="grid">
            <div class="grafic-grid">
                <h3>Comparació entre els 5 països menys pobres d'Europa</h3>
                <div>
                    <div>
                        <canvas baseChart [data]="barChartData2" [options]="barChartOptions" [plugins]="barChartPlugins"
                            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
                <br>
            </div>
            <div class="grafic-grid">
                <h3>Comparació entre els 5 països menys pobres d'Àfrica</h3>
                <div>
                    <div>
                        <canvas baseChart [data]="barChartData3" [options]="barChartOptions" [plugins]="barChartPlugins"
                            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <button mat-button mat-raised-button color="danger" (click)="randomize()" class="boto">Update</button>
    </div>
    <br><br>    
</div>

